<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>jetbrains.vmoptions</string>
        <key>ProgramArguments</key>
        <array>
            <string>sh</string>
            <string>-c</string>
            <string>
                launchctl setenv "AQUA_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/aqua.vmoptions";
                launchctl setenv "CLION_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/clion.vmoptions";
                launchctl setenv "DATAGRIP_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/datagrip.vmoptions";
                launchctl setenv "DATASPELL_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/dataspell.vmoptions";
                launchctl setenv "DEVECOSTUDIO_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/devecostudio.vmoptions";
                launchctl setenv "GATEWAY_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/gateway.vmoptions";
                launchctl setenv "GOLAND_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/goland.vmoptions";
                launchctl setenv "IDEA_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/idea.vmoptions";
                launchctl setenv "JETBRAINS_CLIENT_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/jetbrains_client.vmoptions";
                launchctl setenv "JETBRAINSCLIENT_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/jetbrainsclient.vmoptions";
                launchctl setenv "PHPSTORM_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/phpstorm.vmoptions";
                launchctl setenv "PYCHARM_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/pycharm.vmoptions";
                launchctl setenv "RIDER_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/rider.vmoptions";
                launchctl setenv "RUBYMINE_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/rubymine.vmoptions";
                launchctl setenv "RUSTROVER_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/rustrover.vmoptions";
                launchctl setenv "STUDIO_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/studio.vmoptions";
                launchctl setenv "WEBIDE_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/webide.vmoptions";
                launchctl setenv "WEBSTORM_VM_OPTIONS" "/Users/logan/Data/Config/app/jetbrains/jetbra/vmoptions/webstorm.vmoptions";
                echo "$(date "+%Y-%m-%d %H:%M:%S")   plist crack runs ";
            </string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
        <key>StandardOutPath</key>
        <string>/Users/logan/Logs/jetbra/out.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/logan/Logs/jetbra/error.log</string>
    </dict>
</plist>
