.DS_Store
/.idea/
/.history/
test
__pycache__
*.iml
nginx/www/files/*
!nginx/www/files/.autoindex.html
!nginx/www/files/share.txt

cli-reference/.obsidian
cli-reference/1-obsidian

others/hammerspoon/settings.json
